<!DOCTYPE html>
<html>
<head>
    <title>{{.Artist.Name}}</title>
</head>
<body>
    <h1>{{.Artist.Name}}</h1>
    <img src="{{.Artist.Image}}" alt="Artist Image" style="width:300px;height:auto;">

    <p><strong>Members:</strong></p>
    <ul>
        {{range .Artist.Members}}
            <li>{{.}}</li>
        {{end}}
    </ul>

    <p><strong>Creation Date:</strong> {{.Artist.CreationDate}}</p>
    <p><strong>First Album:</strong> {{.Artist.FirstAlbum}}</p>

    <p><strong>Locations:</strong></p>
    {{if .Location.Locations}}
        <ul>
            {{range .Location.Locations}}
                <li>{{.}}</li>
            {{end}}
        </ul>
    {{else}}
        <p>No location found</p>
    {{end}}

    <p><strong>Dates:</strong></p>
    {{if .Date.Dates}}
    <ul>
        {{range .Date.Dates}}
            <li>{{.}}</li>
        {{end}}
    </ul>
    {{else}}
    <p>No dates found</p>
    {{end}}


    <input id="goBackButton" type="button" value="Go Back" onclick="history.back()">
</body>
</html>
