<!DOCTYPE html>
<html lang="en">
<head>
    <title>Groupie Tracker</title>
    <link rel="stylesheet" href="./../static/styles/General.css">
    <link rel="stylesheet" href="./../static/styles/StyleHome.css">
</head>
<body>
    <div class="Header flex">
         <h1>Groupie Tracker</h1>
    </div>
    <div class="Artist">
        <h2>Artists</h2>
        <div class="all-Card flex">
             {{range .}}
                <div class="card flex">

                    <img src="{{.Image}}" alt="{{.Name}}" width="200">        
                    <h3>{{.Name}}</h3>
                    <a href="/artist?id={{.ID}}">View details</a>
                </div>
                {{end}}
        </div>
    </div>
</body>
</html>