

:root{
    --bg: #0b132b;
    --colorButton: #f5f7fa;
    --textColor: #333;
}

body{
    background-color: var(--bg);
}
*{
    font-family: "Roboto", sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}
.flex{
    display: flex;
    align-items: center;
}
.border{
    border: 6px solid red;
}
ul,li{
    list-style: none;
}
a, button ,.x{
    list-style-type:none;
    all: unset;
    color: #fff;
    background-color: var(--bg);
    padding: 15px 35px;
    border-radius: 50px;
    font-weight: 700;
    transition: all 0.3s ease;
    display: inline-block; 
}
a:hover ,.x:hover, button:hover{
    transform: scale(1.1);
    filter: brightness(1.6);
    cursor: pointer;
}